.container {
  min-width: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #89f7fe, #66a6ff);
  text-align: center;
  margin: 0 auto;
  font-size: smaller;
}

.header {
  padding-top: 2%;
  margin-bottom: 2%;
  font-size: 2em;
  font-weight: bolder;
}

.inputForm {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.left,
.right {
  min-width: 30%;
  background-color: #a6ff83d2;
  padding: 1%;
  border-radius: 1%;
}

.left {
  margin-right: 2%;
}

.right {
  margin-left: 2%;
}

.formGroup, .formGroupLeft, .formGroupRight {
  padding: 2%;
}

.leftAlign{
  text-align: left;
}

.rightAlign{
  text-align: right;
}

.textInput {
  width: 100px;
  height: 25px;
}

.inputLabel, .radioInputLabel {
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}

.radioInputLabel {
  text-align: left;
  align-items: left;
}

.submitButton{
  font-stretch: semi-expanded;
}
