.container {
  padding: 2%;
  margin: 1%;
  border-radius: 5%;
}

.selectedContainer {
  background-image: linear-gradient(to top left, #e4fbff, #e4fbff);
  transform: scale(0.9);
}

.memberImage{
  height: 100%;
  width: 100%;
}
